html, body {
    margin: 0;
    padding: 0;
}

.login-body-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(102, 203, 234, 0.57) 0%, #764ba2 100%);
}

.login-box {
    background: white;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.01);
}
.nav-link:hover {
    color: #ffc107 !important;
    transition: 0.3s;
}
