<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Category Form</title>
</head>
<body>

<h2>Thêm / Sửa Thể loại</h2>

<form th:action="${category.id} == null ? @{/categories} : @{/categories/update/{id}(id=${category.id})}"
      method="post"
      th:object="${category}">

  <input type="hidden" th:field="*{id}" />

  <div>
    Tên danh mục:
    <input type="text" th:field="*{name}" />
  </div>

  <div>
    Mô tả:
    <textarea th:field="*{description}"></textarea>
  </div>

  <br>

  <button type="submit">Lưu</button>
</form>

<br>

<a th:href="@{/categories}">⬅ Quay lại</a>

</body>
</html>
